/* price section start */
.price {
  padding-top: 120px;
}
.price h1 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: var(--text-primary--);
  font-weight: 800;
}
.price-area {
  padding-top: 30px;
  max-width: 980px;
  width: 100%;
}
.common-padding {
  padding: 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.left-bg {
  background: transparent;
}
.right-bg {
  background: transparent;
}
.col-common-padding {
  padding: 20px 15px;
}
.price-box .title {
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
}

.price-box .right-box h3 {
  font-weight: 500;
  font-size: 22px;
}
.price-box .right-box p {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0;
}
.price-box .right-box a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  color: var(--text-green--);
}
.price-box .right-box a:hover {
  background-color: var(--light-green--);
}

.price-box .right-box ul li {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
}
.price-box .right-box ul li a {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--text-green--);
}

.single-page-button {
  text-align: center;
  margin: 50px 0;
  padding: 0 15px;
}

.single-page-button a {
  text-decoration: none;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 70px;
}

.single-page-button .contact-page-btn {
  background: var(--bg-secondary--);
  color: var(--text-primary--);
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 10px;
}

/* price section end */
