@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fbfe;
}

:root {
  --bg-primary--: #3d68b6;
  --bg-secondary--: #f5e069;
  --text-primary--: #13171a;
  --text-secondary--: #575b5e;
  --text-white--: #ffffff;
  --bg-light-primary--: #dcebfb;
  --bg-light-secondary--: #fdfae5;
  --text-green--: #13795b;
  --light-green--: #cfe4de;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  width: 8.3333333333%;
  padding: 0 15px;
}
.col-2 {
  width: 16.6666666667%;
  padding: 0 15px;
}
.col-3 {
  width: 25%;
  padding: 0 15px;
}
.col-4 {
  width: 33.3333333333%;
  padding: 0 15px;
}
.col-5 {
  width: 41.6666666667%;
  padding: 0 15px;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-7 {
  width: 58.3333333333%;
  padding: 0 15px;
}
.col-8 {
  width: 66.6666666667%;
  padding: 0 15px;
}
.col-9 {
  width: 75%;
  padding: 0 15px;
}
.col-10 {
  width: 83.3333333333%;
  padding: 0 15px;
}
.col-11 {
  width: 91.6666666667%;
  padding: 0 15px;
}
.col-12 {
  width: 100%;
  padding: 0 15px;
}

ul li {
  list-style: none;
}

ul li a,
a {
  text-decoration: none;
}

/* ========= header css start ========== */
header {
  background-color: var(--bg-primary--);
}

header .page-container {
  position: relative;
}

header .nav-menu {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

header .nav-menu ul {
  display: flex;
}

header .nav-menu ul .logo-txt a {
  color: var(--text-white--);
  font-size: 24px;
  font-weight: 500;
}

header .nav-menu ul .logo-txt a span {
  color: var(--bg-secondary--);
}

header .nav-mid-content ul li a {
  color: var(--text-white--);
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
}

header .nav-mid-content ul li a:hover {
  color: var(--bg-secondary--);
  transition: 0.5s ease-in-out;
}

/* header .nav-mid-content ul li .dropdown {
  float: left;
  overflow: hidden;
}

header .nav-mid-content ul li .dropdown .dropbtn {
  color: var(--text-white--);
  font-size: 18px;
  font-weight: 600;
  padding: 0 5px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
}

header .nav-mid-content ul li .dropdown .dropbtn:hover {
  color: var(--bg-secondary--);
  transition: 0.5s ease-in-out;
}

header .nav-mid-content ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-light-primary--);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 90%;
}

header .nav-mid-content ul li .dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
}

header .nav-mid-content ul li .dropdown-content a:hover {
  background-color: var(--bg-light-secondary--);
  color: var(--text-primary--);
} */

header .nav-right-content ul li a button {
  background-color: var(--bg-secondary--);
  border: 0;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 28px;
  color: var(--text-primary--);
  font-weight: 800;
}

header .nav-right-content ul li a button:hover {
  background-color: var(--bg-light-primary--);
  color: var(--text-secondary--);
  transition: all 0.5s ease-in-out;
}

header .menu-toggler-btn {
  display: none;
}

header .menu-toggler-btn button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: var(--text-white--);
}

header .menu-toggler-btn button .ri-menu-line {
  font-size: 24px;
}

header .mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--bg-primary--);
  padding: 15px;
}

header .mobile-menu ul li {
  display: flex;
  flex-direction: column;
}

header .mobile-menu ul .mobile-menu-list {
  padding: 12px 15px;
}

header .mobile-menu ul li a {
  color: var(--text-white--);
  font-size: 18px;
  font-weight: 600;
}

header .mobile-menu ul li a .mobile-contact-btn {
  background-color: var(--bg-secondary--);
  border: 0;
  cursor: pointer;
  outline: 0;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 28px;
  color: var(--text-primary--);
  font-weight: 800;
}

header .mobile-menu ul li a .mobile-contact-btn:hover {
  background-color: var(--bg-primary--);
  color: var(--text-white--);
  transition: all 0.5s ease-in-out;
}

/* header .mobile-menu ul li .mobile-dropdown {
  float: left;
  overflow: hidden;
}

header .mobile-menu ul li .mobile-dropdown .mobile-dropbtn {
  color: var(--text-white--);
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 12px 15px;
}

header .mobile-menu ul li .mobile-dropdown .mobile-dropdown-content {
  display: none;
  min-width: 160px;
}

header .mobile-menu ul li .mobile-dropdown .mobile-dropdown-content a {
  float: none;
  color: var(--text-white--);
  padding: 12px 25px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}

header .mobile-menu ul li .mobile-dropdown .mobile-dropdown-content a:hover {
  background-color: var(--bg-light-secondary--);
  color: var(--text-primary--);
} */
/* ========= header css end ========== */

/* ========= banner css start ========== */
.banner-content {
  padding-top: 30px;
  max-width: 950px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--text-primary--);
  margin-bottom: 15px;
}
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary--);
  margin-bottom: 15px;
}
/* ========= banner css end ========== */
/* ========= about css start ========== */
.about-content {
  padding: 30px 0;
  max-width: 950px;
  width: 100%;
}

.about-content .help-image {
  max-width: 200px;
}

.about-content .help-image img {
  width: 100%;
}

.about-content .about-contact-content h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
}

.about-content .about-contact-content .about-contact-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}

.about-content .about-contact-content .about-contact-icon div {
  padding-right: 20px;
}

.about-content .about-contact-content .about-contact-icon div i {
  font-size: 22px;
  padding-right: 5px;
}

.about-content .about-contact-content .about-contact-icon div a {
  border-bottom: 1px solid var(--text-primary--);
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary--);
}

.about-content .about-contact-content .about-contact-icon div a:hover {
  color: var(--text-green--);
}

.button-left {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.button-left a {
  width: 250px;
  height: 70px;
  margin-bottom: 15px;
  text-decoration: none;
  margin-top: 15px;
}
.button-left .contact {
  background: var(--bg-secondary--);
  color: var(--text-primary--);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 10px;
}
.button-left .prices {
  background: var(--bg-primary--);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 10px;
}
/* why us */
.why-us {
  padding-top: 20px;
}
.why-us h4 {
  font-size: 25px;
  padding-bottom: 20px;
}
.why-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.why-box .left-img {
  width: 85px;
}
.why-box .left-img img {
  width: 100%;
}
.why-box .text {
  font-weight: 700;
}

/* about-right */
.about-right {
}
.about-right .right-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding-right: 15px;
}
.about-right .right-box p {
  border: 1px solid var(--text-secondary--);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 13px;
  width: 100%;
}
.about-right .right-box i {
  font-size: 24px;
  color: var(--text-green--);
}
.about-right .right-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.right-button a.prices {
  background: var(--bg-primary--);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 10px;
  width: 230px;
  height: 70px;
}
.right-button a.contact {
  background: var(--bg-secondary--);
  color: var(--text-primary--);
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 10px;
  width: 230px;
  height: 70px;
}
/* ========= about css end ========== */

/* ========= services css start ========== */
.service_section {
  margin-top: 40px;
  max-width: 990px;
  width: 100%;
  margin-bottom: 50px;
}

.service_section .service-content {
  padding: 15px 0;
}

.service_section .home-service-card {
  max-width: 400px;
  width: 100%;
  min-height: 387px;
  height: 100%;
  background-color: var(--text-white--);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0 auto;
}

.service_section .home-service-card:hover {
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--bg-primary--);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service_section .home-service-card div {
  background-color: var(--bg-light-primary--);
  width: 120px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_section .home-service-card div .ri-home-8-line {
  font-size: 60px;
  color: var(--bg-primary--);
}

.service_section .home-service-card h1 {
  font-size: 32px;
  padding-top: 10px;
  font-weight: 700;
  color: var(--text-primary--);
}

.service_section .business-service-card {
  max-width: 400px;
  width: 100%;
  min-height: 387px;
  height: 100%;
  background-color: var(--text-white--);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0 auto;
}

.service_section .business-service-card:hover {
  transition: all 0.5s ease-in-out;
  border: 1px solid var(--bg-secondary--);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service_section .business-service-card div {
  background-color: var(--bg-light-secondary--);
  width: 120px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_section .business-service-card div .ri-building-line {
  font-size: 60px;
  color: var(--bg-secondary--);
}

.service_section .business-service-card h1 {
  font-size: 32px;
  padding-top: 10px;
  font-weight: 700;
  color: var(--text-primary--);
}
/* ========= services css end ========== */

/* ========= buttons group css start ========== */
.buttons_group_section {
  width: 100%;
  text-align: center;
}

.price_btn a button {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border-radius: 28px;
  border: 0;
  background-color: var(--bg-primary--);
  outline: 0;
  margin-bottom: 30px;
  color: var(--text-white--);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.price_btn a button:hover {
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contact_btn a button {
  max-width: 250px;
  width: 100%;
  height: 70px;
  border-radius: 28px;
  border: 0;
  background-color: var(--bg-secondary--);
  outline: 0;
  margin-bottom: 30px;
  color: var(--text-primary--);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contact_btn a button:hover {
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* ========= buttons group css end ========== */

/* ========= qr code css start ========== */
.qr_code_section {
  padding: 50px 15px;
  max-width: 950px;
  width: 100%;
}

.qr_code_section .qr_code_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.qr_code_section .qr_code_images .call_qr_code,
.qr_code_section .qr_code_images .whatsapp_qr_code,
.qr_code_section .qr_code_images .chat_qr_code,
.qr_code_section .qr_code_images .email_qr_code {
  max-width: 200px;
  max-height: 200px;
  background-color: var(--text-white--);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr_code_section .qr_code_images .call_qr_code img,
.qr_code_section .qr_code_images .whatsapp_qr_code img,
.qr_code_section .qr_code_images .chat_qr_code img,
.qr_code_section .qr_code_images .email_qr_code img {
  width: 100%;
  height: 100%;
}
/* ========= qr code css end ========== */

/* ========= footer css start ========== */
footer {
  border-top: 1px solid var(--text-primary--);
}

footer .footer-content {
  padding-top: 30px;
  max-width: 950px;
  width: 100%;
}

footer .footer-content .help-image {
  max-width: 200px;
}

footer .footer-content .help-image img {
  width: 100%;
}

footer .footer-content .footer-contact-content h5 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 15px;
}

footer .footer-content .footer-contact-content .footer-contact-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}

footer .footer-content .footer-contact-content .footer-contact-icon div {
  padding-right: 20px;
}

footer .footer-content .footer-contact-content .footer-contact-icon div i {
  font-size: 22px;
  padding-right: 5px;
}

footer .footer-content .footer-contact-content .footer-contact-icon div a {
  border-bottom: 1px solid var(--text-primary--);
  font-size: 22px;
  font-weight: 700;
  color: var(--text-primary--);
}

footer
  .footer-content
  .footer-contact-content
  .footer-contact-icon
  div
  a:hover {
  color: var(--text-green--);
}

.payment-system,
.payment-system2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}

.payment-system2 {
  margin-top: 10px;
}

.payment-system div img,
.payment-system2 div img {
  width: 70px;
  /* width: 100%; */
}

footer .footer-address {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
}

footer .footer-address h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--text-primary--);
  line-height: 35px;
}

footer .footer-address h5 {
  font-size: 20px;
  color: var(--text-secondary--);
  font-weight: 500;
  line-height: 26px;
}

footer .footer-address h5 span {
  color: var(--text-primary--);
  font-weight: 700;
}

footer .footer-address h6 {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-primary--);
  padding-top: 5px;
}

/* ========= footer css end ========== */
